# Add any directories, files, or patterns you don't want to be tracked by version control
/.gradle/
/build/
/out/
/.idea/
/atdd-calculator.iml
/bin/
/.project
/.classpath
/.DS_Store
/myApplicationDb.mv.db
/myApplicationDb.trace.db
/entities.uml
/id_rsa2
